<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Puppie App</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header>
        <% include ./partials/header %>
    </header>


<center>


<h1>Puppy List</h1>

<table class="table">
	<thead>
		<th>ID</th>
		<th>Puppy Name</th>
		<th>Puppy Age</th>
		<th>Puppy Image</th>
		<th>Delete</th>

	</thead>
	<tbody>
			<%puppies.forEach(function(puppy){%>
			<tr>
				<td>
				
					<%= puppy.id%><br>
				
				</td>
				
				<td>
					<a href="/puppies/<%=puppy.id%>">
					<%= puppy.name%><br></a>
				
				</td>

				<td>
				
					<%= puppy.age%><br>
				
				</td>

				<td>
				
				<img src= <%= puppy.image%> ><br>
				
				</td>

				<td>
			
				<form action="/puppies/<%= puppy.id %>?_method=delete" method="POST">
					<button type="submit">Delete</button>
					</form>
				
				</td>

			</tr>
			<%});%>
		
			
	</tbody>
</table>

<a class="btn btn-primary" href="/puppies/new">Add a new puppy!</a>

</center>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/puppy.js"></script>
</body>
</html>